  .panda-info-bg{
      background-color: #FCEAE8;
  }
  .categories img{
width: 100px;
  }
  .btn-color{
      color: #ffffff;
      padding: 9px 25px;
      border-radius: 8px;
      border: none;
      background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  }